<p>I work for the CAE, or <a href="http://cae.ls.wisc.edu/" target="blank">
Center for Academic Excellence</a>. The CAE is dedicated to providing underpresented
individuals, such as low-income and first generation students, with devices to help
them succeed. This includes mentoring, both one-on-on (termed academic mentoring) and
in a group setting (peer learning). I serve as both an academic mentor and a leader of a peer
learning group for these students.
</p>
<p>
    My main duty as an academic mentor is to provide students with skills they can
    use to succeed in the course I am mentoring them in, which can then be applied
    to their other courses. Although I do help with content, the main idea is to
    have the student arrive at their own ability to learn the content. I am trying
    to make my job not necessary in the future. To achieve this, I create activities
    for weekly meetings, and small plans as to what content should be covered. I
    incorporate my own notes and other resources from when I took the course to
    teach the student.
</p>
<p>
    My main duty as a lead academic mentor is similar to that of an academic mentor,
    except applied to a group setting. It is a different dynamic as the idea is to
    have students solve problems alongside several other people. The interaction
    between students allows them to engage in group learning and learn how to succeed
    in a group setting. It also allows them to explore a wider array of learning styles,
    more than I alone can offer in individualized academic mentoring. To achieve these
    goals, I create weekly session plans for our weekly meeting. The include the planning
    of activities, a small lecture on recent content, checks for understanding, among
    others. I also maintain a class website for the course, where students can find
    resources and submit questions to me so that I may better plan weekly sessions
    to cater to the students' needs.
</p>
<p>
    <strong><em><span style="color: #1d83c1">SINCE: January, 2016 (Freshman Year)</span></em></strong>
</p>
<ul class="list-inline item-details">
    <li><strong>More Info:</strong>
        <a href="http://cae.ls.wisc.edu/" target="blank">Click Here</a>
    </li>
    <li><strong>Currently Leading:</strong>
        <a href="https://cae.typicalprojects.com/chem345/" target="blank">Chem 345 (Organic Chemistry)</a>
    </li>
</ul>
